#profileDisplay { display: block; height: 210px; width: 60%; margin: 0px auto; border-radius: 50%; }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../photo/setting.jpg") center/cover no-repeat;
}
.back img{
    width: 50px;
    margin-left: 20px;
    margin-top: -40px;
    display: inline-block;
    position: absolute;
}
.row{
  margin-top:90px;
  padding-top: 40px;
  padding-bottom: 25px;

}
.form-div1{
  background-color: rgba(0, 0, 0, 0.315);
  padding-top: 20px;
    border: 1px solid #fff;
    margin-left: 150px;
    box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
}
.form-div2{
  background-color: rgba(0, 0, 0, 0.315);
  padding-top: 40px;
  border: 1px solid #fff;
  margin-left: 130px;
  box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
}
.form-div2 h2{
  color: #fff;
  filter: blur(.6px);
    text-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
  padding-bottom: 30px;
}
.img-div img{
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
}
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}
.img-div h4{
  color: #fff;
  filter: blur(.6px);
    text-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
}
.col input{
  display: block;
}
.col input[type = text],.col input[type = email],.col input[type = password],.col input::placeholder{
    
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897);
    text-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
}
.form-group textarea[type = text],.form-group textarea::placeholder{
  background: transparent;
  color: #fff;
  text-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897);
}
.form-group button[type = submit]{
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}
.form-group button[type = submit]:hover{
    color: #fff;
    border: 1px solid #fff;
    text-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897),
                0 0 16px rgba(224, 81, 81, 0.897);
    box-shadow: 0 0 1px rgba(224, 81, 81, 0.897),
                0 0 2px rgba(224, 81, 81, 0.897),
                0 0 4px rgba(224, 81, 81, 0.897),
                0 0 8px rgba(224, 81, 81, 0.897);
}